## Settings for analysis of CERN July testbeam data (position 1)
## Author: Michaela Queitsch-Maitland <michaela.queitsch-maitland@cern.ch>

# ID of the DUT and FEI4
DUT_ID:  10
FEI4_ID: 20
DUT_FEI4_pos: 3

# chi2 requirement on GBL tracks
GBL_chi2: 10

# Timing window
min_time: 0
max_time: 50

# Strip pitch and beam offset (in mm)
strip_pitch: 0.0745
beam_offset: 80

# DUT rotated by 90 degrees relative to FEI4
rotated: 0
